.player {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: orange;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;

    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }

    span {
        font-size: 42px;
        margin-left: 16px;
    }

}